*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

header{
  margin: 5px 5px; 
  background-color: #71695b;
  padding: 0px 10px;
  list-style: none;
  border: 0px ;
  border-color: white;
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;


}

.header{

  border: 2px;
  width: 160px;
  height: 73px;
  color: white;
  font-size: 20px;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  

}

.menu{

  border: 2px;
  background-color: #71695b;
  width: 550px;
  height: 73px;
  color: white;
  font-size: 20px;  
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;

}

a{
  text-decoration: none !important;
  color: white !important;
}


a:hover {
  color: #621C19 !important;
  background-color: #B3AE9F;
  border-radius: 4px;
  font-weight: bolder;
 /* text-decoration: underline;
  text-decoration-color: #621C19 ;*/
  
}

a:active {
  font-size: 25px;
}


.foot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 10vh;
  padding: 10px;
  bottom: 0px;
  color: white;
  background-color: #bcb395;
}

.register {
  padding: 10px;
  margin: 25px;
  background-color: #71695b;
}

main {
  display: grid;
  grid-gap: 25px;
}

.work {
  max-width: 700px;
}
