.menu {
  background-color: #71695b;
  color: white;
  padding: 10px;
  margin: 25px;
}

.indexMenu,
.shopMenu,
.pointersMenu,
.contactMenu,
.loginMenu {
  color: white;
}

.foot {
  background-color: #bcb395;
  color: white;
  padding: 10px;
  margin: 25px;
}

.register {
  padding: 10px;
  margin: 25px;
}
