<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@700&family=Urbanist&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <title>Point to Point</title>
    <link rel="icon" href="./images/favicon.ico" />
  </head>

  <body>
    <header>
      <nav class="menu">
        <img src="./images/Logo.png" alt="Logo" width="100" />
        <button class="buttonHamb">
          <svg
            class="svg"
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 448 512"
          >
            <path
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            />
          </svg>
        </button>
        <ul class="pages">
          <li class="nav-item">
            <a href="index.html" class="indexMenu">Home</a>
          </li>
          <li class="nav-item">
            <a href="shop.html" class="shopMenu">Shop</a>
          </li>
          <li class="nav-item">
            <a href="pointers.html" class="pointersMenu">Pointers</a>
          </li>
        </ul>
        <a href="register.html">Register</a>
      </nav>
      <ul class="pages-movile">
        <li class="nav-item">
          <a href="index.html" class="indexMenu">Home</a>
        </li>
        <li class="nav-item">
          <a href="shop.html" class="shopMenu">Shop</a>
        </li>
        <li class="nav-item">
          <a href="pointers.html" class="pointersMenu">Pointers</a>
        </li>
        <li class="nav-item">
          <a href="register.html">Register</a>
        </li>
      </ul>
    </header>
    <main>
      <div class="register">
        <section class="form-register">
          <h1>Modify Product</h1>
          <div class="modify" id="app">
            <form @submit.prevent="obtenerEquipo">
              <label for="id">ID:</label>
              <input type="text" v-model="id" required /><br />
              <button type="submit" class="searchButton">Search Product</button>
            </form>
            <div class="modify">
              <h2>Product's details</h2>
              <form @submit.prevent="guardarCambios">
                <label for="tipoModificar">Name:</label>
                <br />
                <input
                  type="text"
                  id="tipoModificar"
                  v-model="name"
                  required
                /><br />

                <label for="descripcionModificar">Description:</label>
                <br />
                <input
                  type="text"
                  id="descripcionModificar"
                  v-model="description"
                  required
                />
                <br />
                <label for="priceModificar">Price:</label>
                <br />
                <input
                  type="number"
                  id="priceModificar"
                  v-model="price"
                  required
                /><br />

                <label for="salePriceModificar">Sale Price:</label>
                <br />
                <input
                  type="text"
                  id="salePriceModificar"
                  v-model="salePrice"
                /><br />

                <img v-if="imagen_url && !imagenSeleccionada" :src="`https://www.pythonanywhere.com/user/pointoapp/files/home/pointoapp/mysite/static/imagenes/${imagen_url}`"
                 alt="Product's image" style="max-width: 200px;">

                <img
                  v-if="imagenSeleccionada"
                  :src="imagenUrlTemp"
                  alt="Preview new"
                  style="max-width: 200px"
                />

                <!-- Input para nueva imagen -->
                <label for="nuevaImagen">Nueva Imagen:</label>
                <input
                  type="file"
                  id="nuevaImagen"
                  @change="seleccionarImagen"
                /><br />
                <br />
                <br />
                <button type="submit" class="searchButton">
                  Update Product
                </button>
                <a href="shop.html" class="cancelButton">Cancel</a>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer class="foot">
      <div class="imagen-foot">
        <img src="./images/Logo.png" alt="Logo" width="100" />
      </div>
      <div class="icons">
        <div class="icons-ig">
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        <div class="icons-facebook">
          <a href="#">
            <i class="fab fa-facebook-square"></i>
          </a>
        </div>
        <div class="icons-youtube">
          <a href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
        <div class="icons-twitter">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <div>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="text-foot">
        <strong> Buy Online. Pick Up Anywhere. </strong>
        <p>&copy; 2023 PoinTo</p>
        <p>Online convenience, pick up at your preferred location.</p>
      </div>
    </footer>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      // const URL = 'http://127.0.0.1:5000/'
      const URL = 'https://pointoapp.pythonanywhere.com/'
      const app = Vue.createApp({
        data() {
          return {
            id: '',
            name: '',
            description: '',
            price: '',
            imagen_url: '',
            imagenSeleccionada: null,
            imagenUrlTemp: null,
            salePrice: '',
          }
        },

        methods: {
          getParameterByName(name, url) {
            if (!url) url = window.location.href
            name = name.replace(/[\[\]]/g, '\\$&')
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
              results = regex.exec(url)
            if (!results) return null
            if (!results[2]) return ''
            return decodeURIComponent(results[2].replace(/\+/g, ' '))
          },
          obtenerEquipo() {
            fetch(URL + 'products/' + this.id)
              .then((response) => {
                if (response.ok) {
                  return response.json()
                } else {
                  throw new Error("Error while trying to fetch product's data.")
                }
              })
              .then((data) => {
                this.name = data.name
                this.description = data.description
                this.price = data.price
                this.salePrice = data.sale_price
                this.imagen_url = data.imagen_url
              })
              .catch((error) => {
                this.limpiarFormulario()
                alert('Product not found.')
              })
          },
          seleccionarImagen(event) {
            const file = event.target.files[0]
            this.imagenSeleccionada = file
            this.imagenUrlTemp = URL.createObjectURL(file)
          },
          guardarCambios() {
            const formData = new FormData()
            formData.append('id', this.id)
            formData.append('name', this.name)
            formData.append('description', this.description)
            formData.append('price', this.price)
            if (this.imagenSeleccionada) {
              formData.append(
                'imagen',
                this.imagenSeleccionada,
                this.imagenSeleccionada.name,
              )
            }
            formData.append('sale_price', this.salePrice)

            fetch(URL + 'products/' + this.id, {
              method: 'PUT',
              body: formData,
            })
              .then((response) => {
                if (response.ok) {
                  return response.json()
                } else {
                  throw new Error('Error while trying to update product.')
                }
              })
              .then((data) => {
                alert('Product updated successfully.')
                // window.location.href = 'shop.html'
                this.limpiarFormulario()
              })
              .catch((error) => {
                console.error('Error:', error)
                alert('Error while trying to update product.')
              })
          },
          limpiarFormulario() {
            this.id = ''
            this.description = ''
            this.name = ''
            this.price = ''
            this.salePrice = ''
            this.imagen_url = ''
            this.imagenSeleccionada = null
            this.imagenUrlTemp = null
          },
        },
        mounted() {
          this.id = this.getParameterByName('id')
          this.obtenerEquipo()
        },
      })

      app.mount('#app')
    </script>
  </body>
</html>
